# Repo ini sekarang murni proyek Godot 4 (GDScript).
# TIDAK ada binary di Git lagi:
#   - model karakter dijaga di luar repo (Redistribution_Prohibited,
#     lihat models/LISENSI.md),
#   - screenshots CI era Unity dihapus.
# Aturan LFS lama dihapus supaya file baru tidak diam-diam
# mengambil jalur pointer 7 MB lagi.

*.gdshader text eol=lf
*.gd       text eol=lf
*.tscn     text eol=lf
*.tres     text eol=lf
